.service {
	display: flex;
	justify-content: space-around;
	text-decoration: none;
	margin-bottom: 10px;
}
.services__item {
	margin-top:65px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 88px;
	text-decoration: none;
}
.service:hover {
	background: #F5F5F5;
	padding: 48px 53px;
}
.service:hover .service__button{
	background: #DFB56D;
	border: 1px solid #dfb56d;
}
.page-content {
	background: #FFF;
	color: #303030;
	padding: 40px 0;
}
.service__img {
	width: 40%;
	margin-right: 5%;
}
.service__content {
	flex:1;
}
.service__title {
	font-size: 36px;
	color: #202020;
	font-weight: bold;
	margin-bottom: 45px;
}
.service__desc {
	line-height: 1.7;
	margin-bottom: 55px;
}



